<ion-header class="ion-no-border">
	<ion-toolbar color="dark">
		<ion-buttons slot="start">
			<ion-back-button color="success" defaultHref="/"></ion-back-button>
		</ion-buttons>
		<ion-title>{{list.title}}</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content color="dark">
	<ion-list color="dark">
		<ion-item color="dark">
			<ion-label position="floating">New Task</ion-label>
			<ion-input type="text" [(ngModel)]="taskName" (keyup.enter)="addTask()"></ion-input>
		</ion-item>
	</ion-list>
	<ion-list>
		<ion-list-header color="dark" *ngIf="list.tasks.length > 0">
			<ion-label>Tasks</ion-label>
		</ion-list-header>
		<ion-item-sliding *ngFor="let task of list.tasks; let i = index" class="animate__animated animate__fadeInLeft">
			<ion-item-options side="start">
				<ion-item-option (click)="delete(i)" color="danger"
					>Delete<ion-icon name="trash-outline"></ion-icon
				></ion-item-option>
			</ion-item-options>
			<ion-item color="dark">
				<ion-checkbox
					[(ngModel)]="task.complete"
					(ionChange)="check(task)"
					slot="start"
					color="tertiary"
				></ion-checkbox>
				<ion-label>{{task.desc}}</ion-label>
			</ion-item>
		</ion-item-sliding>
	</ion-list>
</ion-content>
